.mainColor {
  background-color: #802c6e;
}
.cart {
  font-size: 23px;
}
.cart span {
  padding: 0 10px;
}
.badge {
  position: absolute;
  top: -10px;
  right: 0;
}
.cartDes {
  min-height: 120px;
}
.cart-img {
  width: 30%;
}
.cart-action {
  width: 70%;
}
.cartTitle {
  background-color: #802c6e;
  text-align: center;
  color: white;
}
.price {
  color: #802c6e;
  font-size: 20px;
}
